input {
     border:1px solid #555;
     margin-bottom: 1rem;
     border-radius: 4px;
     padding: 5px;
}
select{
    border:1px solid #555;
    margin-bottom: 1rem;
    border-radius: 4px;
    padding: 5px;
}

label{
    padding: 12px 12px 12px 0;
}



    

