

.addbox{
    color: #444140;
    text-decoration: underline;
    cursor: pointer;
}
.addbox:hover{
    color: #a61c3c;
}
.seboxes:hover{
    color: #a61c3c;
}
.seboxes{
    color:#444140;
    text-decoration: underline;
    cursor: pointer;
}
