$white: rgb(255, 255, 255);
$bg: rgb(245, 245, 245);
$bg2: rgb(237, 237, 237);
$bg3: rgb(214, 214, 214);
$text: rgb(33, 33, 33);
$primary: rgb(224, 132, 209);

$border-radius: 10px;

$md-spacing: 16px;
$sm-spacing: 8px;
$lg-spacing: 32px;

$sm: 37.5em;
$md: 48em;
$lg: 64em;

